.footer-pp{
    margin: 20px 0px 20px 0px;

    border-radius: 35px;
    border: none; /* Remove border */
}
.stacked-linear {
    background: linear-gradient(225deg, #8aa90b, rgba(211, 191, 191, 0) 50.71%),
      linear-gradient(180deg, rgba(221, 230, 221, 0.8), rgb(0 255 0 / 0%) 70.71%),
      linear-gradient(320deg, #d8ba6f, rgba(12, 12, 190, 0) 70.71%);
  }
  